<div class="flex items-center justify-center gap-2 m-2">
  <a href="/cv.pdf" download class="btn-tertiary"> Download my Resume</a>
  <a href="#contact" class="btn-secondary smoothScroll"> Contact Me</a>
</div>
