<section
  id="experience"
  class="bg-tertiary rounded-2xl w-full md:max-w-3/4 m-auto p-4 observed sleeping bg-opacity-90 text-center"
>
  <h2
    font="bold"
    text="4xl center white dark:black"
    transition="all duration-2000 ease-in-out"
    bg="tertiary opacity-50"
    rounded="lg"
    p="4"
  >
    Experience
  </h2>
  <div class="flex text-sm md:text-base flex-col justify-center items-center gap-2 p-2">
    <article class="card bg-secondary flex flex-col items-center justify-center">
      <h5>Web Developer</h5>
      <a
        class="text-tertiary hover:text-quaternary transition-all duration-500 ease-in-out"
        href="https://jovialpenguin.com"
      >
        Jovial Penguin
      </a>
      <small>2022 - Present</small>
      <p class="text-left p-2">
        I'm currently working as a freelance web developer. I've built a few
        websites used in production by small businesses. My biggest project to
        date is a{" "}
        <a
          href="https://www.electriclarrys.com/"
          class="text-tertiary hover:text-quaternary transition-all duration-500 ease-in-out"
        >
          complete CMS for a small thrift store
        </a>{" "}
        built using React Server Components. It allows the owners to update every
        single aspect of their website without having to write a single line of code,
        and it's blazing fast!
      </p>
      <p class="text-left p-2">
        I'm also constantly working on open source projects-- both on my own and
        with other developers. My most popular project has been my{" "}
        <a
          href="https://github.com/jazzypants1989/astro-docs-template"
          class="text-tertiary hover:text-quaternary transition-all duration-500 ease-in-out"
        >
          Astro Docs Template
        </a>
        The template uses the Content Collections API to automatically generate
        tables of contents and navigation menus for your documentation. I've also
        contributed to the{" "}
        <a
          href="https://docs.astro.build/"
          class="text-tertiary hover:text-quaternary transition-all duration-500 ease-in-out"
        >
          Astro Docs
        </a>{" "}
        themselves. You can check out my{" "}
        <a
          href="#portfolio"
          class="text-tertiary hover:text-quaternary transition-all duration-500 ease-in-out"
        >
          Portfolio
        </a>{" "}
        to see some of my other work.
      </p>
    </article>
    <article class="card bg-secondary flex flex-col items-center justify-center">
      <h5>Bar Manager</h5>
      <a
        class="text-tertiary hover:text-quaternary transition-all duration-500 ease-in-out"
        href="https://buckslou.com"
      >
        Buck's Restaurant
      </a>
      <small>2018 - 2020</small>
      <p class="text-left p-2">
        My last restaurant job was bar manager of a fine-dining steakhouse in
        the heart of Old Louisville, Kentucky. I was responsible for training
        new employees, managing the bar, ordering inventory, and ensuring that
        the restaurant ran smoothly when the general manager was not present. I
        also curated multiple cocktail menus which gave me the opportunity to
        flex my creative muscles.
      </p>
      <p class="text-left p-2">
        Covid-19 and my step-father's death forced me to move here to Portland,
        Oregon. During this time, I quit drinking and decided to pursue a career
        in web development. Sometimes, I miss the restaurant industry, but I'm
        grateful that this disruption in my life allowed me to discover my true
        passion. And, I think that my creativity and leadership skills that I
        honed as a bar manager will serve me well as a developer.
      </p>
    </article>
  </div>
</section>
