<style>
  .keyword {
    color: #569cd6;
  }

  .function {
    color: #c586c0;
  }

  .parameter {
    color: #a9b7c6;
  }

  .property {
    color: #dcdcaa;
  }

  .variable {
    color: #ce9178;
  }

  .type {
    color: #4ec9b0;
  }
</style>

<pre
  font-serif
  bg-redDark
  rounded-2xl
  p-2
  text-left
  text-xs
  w-fit
  lg:text-base
  lg:max-w-4xl
  class="hidden md:block"
  >
  <span class="keyword">const </span><span class="variable">mySpecialty</span> = (<span class="parameter">customerNeeds</span>: <span class="type">NoProblem</span>, <span class="parameter">bestPractices</span>: <span class="type">WebStandards</span>) =&gt; &#123;
    <span class="keyword">const</span> &#123; <span class="property">hopes</span>, <span class="property">dreams</span> &#125; = <span class="parameter">customerNeeds</span>;
    <span class="keyword">const</span> &#123; <span class="property">accessibility</span>, <span class="property">performance</span> &#125; = <span class="parameter">bestPractices</span>;

    <span class="keyword">const</span> <span class="variable">coolWebsite</span> = (<span class="property">hopes</span> + <span class="property">dreams</span>) / (<span class="property">accessibility</span> + <span class="property">performance</span>);

    <span class="keyword">return</span> <span class="variable">coolWebsite</span>; 
&#125;;
</pre>
